* {
  margin: 0px;
  padding: 0px;
}
.parent{
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  margin: 20px;
  width: 100%;

}

.card {
  width: 300px;
  height: 350px;
  border: 1px black solid;
  border-radius: 30px;
  /* margin: 30px; */
  background-color: rgb(255, 255, 255);
}

.top {
  display: flex;
  justify-content: space-between;
}

.top button {
  display: inline-flex; /* important */
  align-items: center; /* vertical alignment */
  gap: 6px; /* space between text & icon */
  padding: 10px;
  margin: 20px 30px;
  border-radius: 10px;
  line-height: 0.5;
  border: none;
}

.top img {
  width: 50px;
  height: 48px;
  border-radius: 50%;
  margin: 20px 30px;
  border: 1px black solid;
}
.center {
  margin: 20px;
}

.center h3 {
  font-size: 20px;
  font-weight: 700;
}

.center h3 span {
  font-size: 15px;
  font-weight: 400;
}
.center h2 {
  font-size: 25px;
  font-weight: 800;
}
.center .tag {
  display: flex;
  gap: 10px;
  margin: 10px 0px;
}
.center .tag button {
  border: none;
  background-color: rgb(228, 218, 218);
  padding: 5px;
  font-weight: 600;
}
.bottom {
  display: flex;
  justify-content: space-between;
  margin: 80px 20px;
  border-top: 2px rgb(196, 190, 190) solid;
}
.bottom .add {
  margin-top: 10px;
}
.bottom .add h4 {
  font-size: 20px;
  font-weight: 600;
}

.bottom button {
  margin: 15px;
  padding: 8px;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 15px;
}
